extends layout/layout

block content
    #doc-header.doc-header.text-center
        h1.doc-title Coding Guidelines
        .meta
            i.far.fa-clock
            |
            | Last updated: Nov 2, 2018
    .doc-body.row
        .doc-content.col-md-9.col-12.order-1
            .content-inner
                section.doc-section
                    h2.section-title Getting Started
                    .section-block
                        p Select platform
                        ul.list
                            li Front-end
                            li Back-end (in-progress)
                            li Mobile
        .doc-sidebar.col-md-3.col-12.order-0.d-none.d-md-flex
            #doc-nav.doc-nav
                nav#doc-menu.doc-menu.nav.flex-column.sticky
                    a(href="#").nav-link Front-end
                    nav.doc-sub-menu.nav.flex-column
                        a(href="#").nav-link HTML
                        a(href="#").nav-link CSS/SCSS
                    a(href="#").nav-link Back-end
                    a(href="#").nav-link Mobile