doctype html
html
    head
        title Enjoy TEFL
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        | <!-- FontAwesome JS -->
        | <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
        | <!-- Font CSS -->
        | <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        | <!-- Plugins CSS -->
        | <link rel="stylesheet" href="css/vendors.css">
        | <link rel="stylesheet" href="vendors/prettydocs/plugins/prism/prism.css">
        | <link rel="stylesheet" href="vendors/prettydocs/plugins/elegant_font/css/style.css">
        | <!-- Theme CSS -->
        | <link id="theme-style" rel="stylesheet" href="vendors/prettydocs/css/styles.css">
        | <!-- App CSS -->
        | <link rel="stylesheet" href="css/app.css">
        block css
    body
        .page-wrapper
            header#header.header
                .container
                    .branding
                        .logo
                            a(href="#") #[span(aria-hidden="true").icon.icon_document_alt] #[span.text-highlight Development #[span.text-white-50 Style] #[span.text-bold Guide]]
            .doc-wrapper
                .container
                    block content
        footer#footer.footer.text-center
            .container
                small.copyright &copy; 2018 MFEC

        script(src='js/vendors.js')
        | <script type="text/javascript" src="vendors/prettydocs/plugins/prism/prism.js"></script>
        | <script type="text/javascript" src="vendors/prettydocs/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
        | <script type="text/javascript" src="assets/plugins/lightbox/dist/ekko-lightbox.min.js"></script>
        | <script type="text/javascript" src="vendors/prettydocs/plugins/stickyfill/dist/stickyfill.min.js"></script>
        | <script type="text/javascript" src="vendors/prettydocs/js/main.js"></script>
        script(src='js/app.js')
        block scripts
